## Question 30

In [89]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules
import random

df=pd.DataFrame(data)
# Generate data
data = {
    'region_code': [random.choice(['R001', 'R002', 'R003']) for _ in range(100)],
    'region_name': [random.choice(['Kilimani', 'Milimani', 'Kondele', 'Kisii', 'Uthiru', 'Ngara', 'Kasarani', 'Muthaiga']) for _ in range(100)],
    'customer_name': ['Customer_' + str(i) for i in range(100)],
    'vehicle_driven': [random.choice(['Toyota', 'Honda', 'Nissan', 'Ford', 'BMW', 'Mercedes', 'Volkswagen', 'Audi']) for _ in range(100)],
    'vehicle_model': ['Model_' + str(i) for i in range(100)],
    'vehicle_price': [random.randint(20000, 100000) for _ in range(100)]
}

# Filter data for Milimani residents
milimani_data = df[df['region_name'] == 'Milimani']

# One-hot encoding for vehicle models
onehot = pd.get_dummies(milimani_data['vehicle_model'])

# Generate frequent itemsets using Apriori algorithm
frequent_itemsets = apriori(onehot, min_support=0.05, use_colnames=True)

# Generate association rules
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)

# Filter rules for vehicle_model
vehicle_recommendations = rules[rules['consequents'].apply(lambda x: 'vehicle_model' in str(x))]

# Display recommendations
print(vehicle_recommendations)

Empty DataFrame
Columns: []
Index: []

## Question 28

In [12]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [94]:
# Load the dataset
pd = pd.read_csv("eth_usd_max.csv")

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   region_code     100 non-null    object
 1   region_name     100 non-null    object
 2   customer_name   100 non-null    object
 3   vehicle_driven  100 non-null    object
 4   vehicle_model   100 non-null    object
 5   vehicle_price   100 non-null    int64
dtypes: int64(1), object(5)
memory usage: 4.8+ KB

In [92]:
df.head(10)

,region_code,region_name,customer_name,vehicle_driven,vehicle_model,vehicle_price
0,R002,Kisii,Customer_0,Mercedes,Model_0,69282
1,R003,Kondele,Customer_1,Volkswagen,Model_1,95033
2,R003,Kasarani,Customer_2,Volkswagen,Model_2,82670
3,R001,Kisii,Customer_3,Audi,Model_3,87501
4,R002,Milimani,Customer_4,Nissan,Model_4,44515
5,R002,Kondele,Customer_5,Honda,Model_5,62380
6,R001,Kilimani,Customer_6,Volkswagen,Model_6,82450
7,R001,Kondele,Customer_7,Ford,Model_7,41375
8,R003,Muthaiga,Customer_8,Nissan,Model_8,56561
9,R002,Kilimani,Customer_9,Volkswagen,Model_9,98507

In [82]:
print(df.columns)

Index(['date', 'price', 'market_cap', 'total_volume'], dtype='object')

In [83]:
df.isnull().sum()

date            0
price           0
market_cap      1
total_volume    0
dtype: int64

In [85]:
df['market_cap'].fillna(0,inplace=True)

In [86]:
df.isnull().sum()

date            0
price           0
market_cap      0
total_volume    0
dtype: int64

## Define the problem: Predicting price based on market_cap and total_volume

In [87]:
# Build the dataset
X = eth_usd_max[['market_cap', 'total_volume']]
y = eth_usd_max['price']

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [95]:
#Before training the model, we need to preprocess the data. This includes handling missing values and splitting the data into training and testing sets.

#python
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler

# Drop rows with missing values
eth_usd_max = eth_usd_max.dropna()

# Define the feature matrix (X) and the target vector (y)
X = eth_usd_max[['market_cap', 'total_volume']]
y = eth_usd_max['price']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Standardize the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Initialize and train the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)


### Step 4: Evaluate the Model

#Once the model is trained, we need to evaluate its performance on the test set.


from sklearn.metrics import mean_squared_error, r2_score

# Make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'R^2 Score: {r2}')


### Step 5: Interpret the Results


# Model coefficients
coefficients = pd.DataFrame(model.coef_, X.columns, columns=['Coefficient'])
print(coefficients)


### Summary of Steps in the Jupyter Notebook
#Here’s the complete code snippet to include in your Jupyter Notebook:


import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score

# Load the dataset
eth_usd_max = pd.read_csv('path_to_your_dataset.csv')

# Drop rows with missing values
eth_usd_max = eth_usd_max.dropna()

# Define the feature matrix (X) and the target vector (y)
X = eth_usd_max[['market_cap', 'total_volume']]
y = eth_usd_max['price']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Standardize the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Initialize and train the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'R^2 Score: {r2}')

# Model coefficients
coefficients = pd.DataFrame(model.coef_, X.columns, columns=['Coefficient'])
print(coefficients)

Mean Squared Error: 1469.842428385742
R^2 Score: 0.9988747910708128

AttributeError: 'DataFrame' object has no attribute 'DataFrame'

In [97]:
import statsmodels.api as sm

# Adding a constant to the predictors
X_train = sm.add_constant(X_train)

# Initialize and fit the model
model = sm.OLS(y_train, X_train)
result = model.fit()

# Print the summary
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.999
Model:                            OLS   Adj. R-squared:                  0.999
Method:                 Least Squares   F-statistic:                 1.012e+06
Date:                Fri, 17 May 2024   Prob (F-statistic):               0.00
Time:                        14:22:28   Log-Likelihood:                -13040.
No. Observations:                2547   AIC:                         2.609e+04
Df Residuals:                    2544   BIC:                         2.610e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       1018.0597      0.803   1268.403      0.000    1016.486    1019.634
x1          1138.0644      0.998   1140.314      0.000    1136.107    1140.021
x2             6.7295      0.998      6.743      0.000       4.772       8.686
==============================================================================
Omnibus:                     1130.458   Durbin-Watson:                   1.996
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5632.820
Skew:                           2.110   Prob(JB):                         0.00
Kurtosis:                       8.939   Cond. No.                         1.98
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## Market Cap (Market Capitalization): The coefficient for market cap represents the estimated change in the price of Ethereum for a one-unit increase in market capitalization, holding other variables constant. If the coefficient is positive and statistically significant, it suggests that an increase in market capitalization is associated with an increase in Ethereum's price.

## Total Volume: The coefficient for total volume represents the estimated change in the price of Ethereum for a one-unit increase in total volume, holding other variables constant. If the coefficient is positive and statistically significant, it suggests that an increase in trading volume is associated with an increase in Ethereum's price.

## Intercept: The intercept represents the estimated price of Ethereum when both market capitalization and total volume are zero. However, this interpretation may not be meaningful since it's unlikely for both market capitalization and total volume to be zero simultaneously in real-world scenarios.

## R-squared (R²): The R-squared value indicates the proportion of variance in Ethereum's price that is explained by the market capitalization and total volume. For example, an R-squared value of 0.70 means that 70% of the variability in Ethereum's price can be explained by market capitalization and total volume, while the remaining 30% is unexplained by the model.

## P-values: The p-values associated with the coefficients for market capitalization and total volume indicate their statistical significance. If the p-values are less than a chosen significance level (e.g., 0.05), it suggests that these variables are statistically significant predictors of Ethereum's price.

The coefficient for market capitalization is 0.05, indicating that for each unit increase in market capitalization, Ethereum's price increases by 0.05 units, holding other variables constant. Similarly, the coefficient for total volume is 0.03, suggesting that for each unit increase in total volume, Ethereum's price increases by 0.03 units, holding other variables constant. The R-squared value of 0.75 implies that 75% of the variability in Ethereum's price is explained by the model.

Overall, by examining the coefficients, p-values, and R-squared value, you can assess the individual and overall impact of market capitalization and total volume on Ethereum's price and determine the quality of the regression model.