# MACHINE LEARNING; SUPERVISED LEARNING

# K-NEAREST NEIGHBOUR(KNN)   7th Feb 2024

In [1]:


df = {
    "age": [27, 58, 19, 37, 43, 22, 78, 38, 48, 26],
    "salary": [127000, 235000, 30000, 125000, 87000, 78000, 756000, 112000, 180000, 256000],
    "employee_level": ["Junior_Level", "Senior_Level", "Junior_Level", "Mid_Level", "Midlevel", "Junior_Level", "Senior_Level", "Midlevel", "Midlevel", "Junior_Level"]
}

In [2]:
import pandas as pd

In [3]:
df=pd.DataFrame(df)

In [4]:
df.head()

   age  salary employee_level
0   27  127000   Junior_Level
1   58  235000   Senior_Level
2   19   30000   Junior_Level
3   37  125000      Mid_Level
4   43   87000       Midlevel

In [5]:
df.describe()

             age         salary
count  10.000000      10.000000
mean   39.600000  198600.000000
std    18.203785  207933.857005
min    19.000000   30000.000000
25%    26.250000   93250.000000
50%    37.500000  126000.000000
75%    46.750000  221250.000000
max    78.000000  756000.000000

In [6]:
df.shape

(10, 3)

In [7]:
knn_data=df.to_csv(r"C:\Users\USER\Desktop\DATA  SCIENCE/knn_data")

In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split as tts
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
import warnings as wn
wn.filterwarnings("ignore")

# Data
data = {
    "age":[27,58,19,37,43,22,78,38,48,26],
    "salary":[127000,235000,30000,125000,87000,78000,756000,112000,180000,256000],
    "employee_level":["Junior","Senior","Junior","Mid Level","Mid level","Junior","Senior","Mid level","Mid level","Junior"]
}
df = pd.DataFrame(data)

# Features and target variable
X = df[['age', 'salary']]
y = df['employee_level']

# Standardize features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

X_train,X_test,y_train,y_test = tts(X_scaled,y,test_size=0.2,random_state=42)
# Model training
k = 1  # number of neighbors
model = KNeighborsClassifier(n_neighbors=k)
model.fit(X_train
          , y_train)

# Prediction
new_data = [[41, 200000]]
new_data_scaled = scaler.transform(new_data)
predicted_level = model.predict(new_data_scaled)

print("Predicted employee level:", predicted_level[0])

Predicted employee level: Mid Level